.friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
}

.friends-display-link {
    color: rgba(0,0,0,0.7);
}

.friends-screen {
    padding: var(--horizontalSpace);
    padding-top: 20px;
}

.friends-screen__channel-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--myGray);
    font-size: 18px;
}

.friends-screen__channel {
    padding: 0px var(--horizontalSpace);
}

.friends-screen__friend-header {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--myGray);
    font-size: 18px;
}