.nav {
    background-color: #f9f9fa;
    padding: 30px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1.5px solid rgba(112, 112, 112, 0.2);
}
.nav__list {
    display: flex;
    justify-content: space-around;
}
.nav__link {
    position: relative;
}
.nav__noti {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__plus {
    position: absolute;
    left: 30px;
    bottom: 27px;
}
