.user-component {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.user-component__column {
    display: flex;
    align-items: center;
}

.user-component__profile {
    width: 70px; height: 70px;
    border-radius: 40px;
    margin-right: 20px;
    border: 1px solid rgba(128, 128, 128, 0.831);
}

.user-component__name {
    font-weight: 600;
    font-size: 24px;
}

.user-component__profile--xl {
    width: 90px; height: 90px;
    border-radius: 40px;
}

.user-component__profile--sm {
    width: 60px; height: 60px;
}

.user-component__name--not-bold {
    font-weight: 400;
    font-size: 20px;
}

.user-component__column--last {
    color: var(--myGray);
}

.user-component__subtext {
    margin-top: 5px;
}

.user-component__time {
    margin-bottom: 5px;
    display: block;
}

.badge {
    display: flex;
}

.user-component__subtext {
    margin-top: 8px;
}

.user-component__name {
    font-weight: 600;
}